:root {
  --fontText: 'Raleway', sans-serif;
  --fontHeading: 'Staatliches', cursive;

  /** Colors **/
  --blue: #00487c;
  --red: #a01c48;
  --orange: #f58549;
  --yellow: #eca400;
  --green: rgb(20, 131, 20);

  /** Gray **/
  --gray: #969696;
  --grayDark: #707070;
  --grayLight: rgb(243, 243, 243);
}
body {
  background-color: var(--grayLight);
  font-size: 1.6rem;
  font-family: var(--fontText);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  font-family: var(--fontText);
  color: black;
  text-decoration: none;
}
/** GLOBALS **/
h1 {
  font-family: var(--fontHeading);
}
h2 {
  font-family: var(--fontText);
  color: var(--grayDark);
  font-size: 3rem;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

/** BUTTONS **/
.btn-block {
  display: block !important;
  flex: 1 0 100% !important;
  width: 100% !important;
}
.btn {
  padding: 1.5rem;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  font-family: var(--fontText);
  border: none;
  flex: 0 0 100%;
  width: 100%;
}
.btn:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
  }
}
.btn i {
  margin-right: 1rem;
}
.btn-blue {
  background-color: var(--blue);
}
.btn-red {
  background-color: var(--red);
}
.btn-orange {
  background-color: var(--orange);
}
.btn-yellow {
  background-color: var(--yellow);
}
.btn-green {
  background-color: var(--green);
}
.btn:disabled {
  opacity: 0.4;
}
.nvo-customer {
  padding: 2rem 4rem;
  width: auto;
}
.btn-delete {
  margin-top: 1rem;
  font-family: 'Font Awesome 5 Free', Arial, Helvetica, sans-serif;
  font-weight: 900;
}
/** GRID **/
@media (min-width: 768px) {
  .grid {
    display: flex;
    justify-content: space-between;
  }
  .col-3 {
    flex: 0 0 calc(25% - 1rem);
  }
  .col-9 {
    flex: 1 0 calc(75% - 1rem);
  }
}
.line {
  background-color: var(--blue);
  padding: 2rem 0;
}
.line h1 {
  margin: 0;
  color: white;
}
.content-line {
  text-align: center;
}
.content-line button {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .content-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content-line button {
    margin: 0;
  }
}
.content-principal {
  margin-top: 4rem;
}

/** Navigation **/
.sidebar {
  padding-top: 1.8rem;
}

.navigation a {
  display: block;
  font-family: var(--fontText);
  color: var(--grayDark);
  margin-bottom: 2rem;
  font-size: 1.8rem;
  position: relative;
  padding-left: 5rem;
  padding-top: 2rem;
}
.navigation a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 3rem;
  margin-right: 1rem;
  position: absolute;
  left: 0;
  top: 1rem;
}
.navigation a.customers::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0c0';
}
.navigation a.products::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f468';
}
.navigation a.orders::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f02d';
}

/** Box **/
@media (max-width: 767px) {
  .box-content {
    margin-top: 5rem;
  }
}
.box-content {
  background-color: white;
  padding: 2rem 3rem;
  min-height: 80rem;
  -webkit-box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  border-radius: 1rem;
}

/** Show Customers **/
.list-customers,
.list-products,
.list-orders {
  list-style: none;
  padding: 0;
}
.customer,
.product,
.order,
.resume li {
  padding: 2rem 0;
  border-bottom: 1px solid var(--grayLight);
}
.customer:last-of-type,
.product:last-of-type,
.order:last-of-type {
  border-bottom: 0;
}
@media (min-width: 768px) {
  .customer,
  .product,
  .order {
    display: flex;
    justify-content: space-between;
  }
  .customer .info-customer,
  .product .info-product,
  .order .info-order {
    flex: 0 0 calc(70% - 1rem);
  }
  .customer .actions,
  .product .actions,
  .order .actions {
    flex: 0 0 calc(30% - 1rem);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .order .actions,
  .product .actions {
    justify-content: flex-start;
  }
}
.actions form {
  width: 100%;
}
.actions .btn {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .customer .actions a:last-of-type,
  .product .actions a:last-of-type,
  .order .actions a:last-of-type {
    margin-bottom: 0;
  }
}
.customer p,
.product p,
.order p {
  margin: 2rem 0;
}
.customer .name,
.product .name,
.order .id,
.resume .name {
  font-size: 2.4rem;
  color: var(--blue);
}
.customer .company,
.order .name,
.resume .price {
  font-weight: 700;
  font-size: 2rem;
}
.order .total {
  font-weight: 700;
  color: var(--blue);
  font-size: 2.4rem;
}
.order .products {
  font-weight: 700;
}
.articles-order {
  padding: 2rem;
  background-color: #f1f1f1;
}
.order ul {
  list-style: none;
  padding: 0;
}
.order ul li:first-of-type {
  border-top: none;
}
.order ul li:last-of-type {
  border-bottom: none;
}
.order ul li {
  border-top: 1px solid #e1e1e1;
}

/** forms **/
form {
  width: 95%;
  max-width: 800px;
  margin: 4rem auto 0 auto;
}
form legend {
  font-size: 2.4rem;
  color: var(--blue);
  font-family: var(--fontText);
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 2rem;
  margin-bottom: 2rem;
}

form .campo {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
form .campo label {
  font-weight: bold;
  font-family: var(--fontText);
  flex: 0 0 100px;
}
form .campo input:not([type='submit']) {
  padding: 1.5rem;
  flex: 1;
  border: 1px solid #e1e1e1;
}
form .campo input[readonly] {
  background-color: #e1e1e1;
}
.send {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
}
.resume {
  padding: 0;
}
.resume li {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.resume li .text-product,
.resume li .actions {
  flex: 0 0 calc(50% - 2rem);
}
.resume .actions {
  display: flex;
  flex-wrap: wrap;
}
.container-quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 100%;
  margin-bottom: 2rem;
}
.container-quantity i {
  flex: 0 0 4rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-minus,
.fa-plus {
  color: white;
}
.fa-minus:hover,
.fa-plus:hover {
  cursor: pointer;
}
.container-quantity .fa-plus,
.container-quantity .fa-minus {
  background-color: var(--blue);
}
.container-quantity input {
  flex: 1;
  padding: 1rem;
}

/** AJUSTES SWEETALERT**/
.swal2-popup .swal2-title {
  font-size: 3rem !important;
}
.swal2-popup #swal2-content {
  font-size: 2rem;
}
.swal2-confirm,
.swal2-cancel {
  font-size: 2rem !important;
  padding: 1rem 3rem;
}
.swal2-popup.swal2-modal {
  padding: 4rem;
  width: 60rem;
}

.fiche-customer {
  background-color: var(--grayLight);
  padding: 1rem 4rem;
}
h3.resume-title {
  font-size: 2.4rem;
  text-align: center;
  color: var(--blue);
}
.total {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  padding: 2rem;
  text-align: center;
}
.total span {
  color: var(--blue);
}

.login {
  max-width: 520px;
  margin: 15rem auto 0 auto;
  padding: 4rem 2rem;
  background-color: var(--grayLight);
  border-radius: 1.5rem;
}
.login h2 {
  text-align: center;
}
.login .container-form {
}
